
/* Base layout styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo animations and styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(138, 43, 226, 0.7));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.7));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styling */
.card {
  padding: 2em;
}

/* Docs styling */
.read-the-docs {
  color: rgba(76, 45, 128, 0.6);
}
